body{
}
/* css flexbox to fill the height of content panel */
.flex {
	display: flex;
  display: -webkit-flex;
  flex-grow:1;
}

.flex-col,.panel {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
	flex-flow: column wrap;
  margin-bottom:0;
}

.flex-grow,.panel-body {
	display: flex;
  -webkit-flex: 2;
  flex: 2;
}
.App {
  background-color: snow;
}
.InstaPost{
  border: 1px solid lightgray;
  margin: 10px;
  border-radius: 1%;

}
.UserInfo{
  font-weight: bold;
  margin: 10px 0;
  padding-bottom: 5px;

}
.UserInfo-Avatar, .UserInfo-Username{
  display: inline-block;
  line-height: normal;
}
.UserInfo-Avatar{
  margin-top: 20px;
}
.UserInfo-Avatar img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid snow;
}
.UserInfo-Username{
  padding-left: 10px;
}
.Post{
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-top: -10px;
  width: 600px;

}
.Post-Image img{
  width: 600px;
  height: 400px;
}
.Post-Form button {
  font-size: 20px;
  padding: 0 10px;
  margin: 0 2px;
  background: white;
  margin-top: 10px;
  border: none;
}
.LikeCount{
  font-size: 20px;
  margin: 0 10px;
  margin-top: 10px;

}
.Post-Caption{
  margin-top: 10px;
  margin: 0 10px;
	font-size: 14px;

}
.Post-Caption-UserName{
  font-weight: bold;
	font-size: 14px;
}
.Post-viewComment{
  margin: 0 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.Form_Control {
}
.Form_Control-Like button{
	font-size: 30px;
	margin: 0 10px;
	color: red;
	background: none;
	border: none;
}
.Form_Control-Comment, .Form_Control-Like {
	display: inline-block;

}
.Form_Control-Comment input{
	display: inline-block;
	width: 500px;
	height: 30px;
	border: 1px solid lightgray;
	border-radius: 10px;
	margin: 10px 0;

}
.CommentList p {
	margin: 0 10px;
	font-size: 12px;
}
.CommentList-userName {
	font-weight: bold;
	font-size: 12px;
}
